<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AC Contato</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        padding: 20px;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Olá, {{name}}!</h1>
      <p>Muito obrigado por entrar em contato!</p>
      <p>Assim que possível iremos conversar sobre:</p>
      <h2>{{title}}</h2>
      <p>{{message}}</p>
    </div>
  </body>
</html>
